body{
background-color:#006464;
}

h1{
   color:#CFE4E3;
   text-align:center;
   border-style:double;
   font-family:"Arabic Typesetting";
}

a:link, a:visited {
  background-color:#A9D2D3;
  color:#004848;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left:inherit;
  margin-left:200px;
  margin-top:inherit;
  margin-top: 200px;
  font-family:"Arabic Typesetting";
  font-size:x-large;
}

a:hover, a:active {
  background-color:#004848;
  color:white;
}